@model List<JoinViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>

<div>
    <h1>My Favourite Routes</h1>
    <div class="custom-scrollbar-css p-2">
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th>From auditorium</th>
                    <th>To auditorium</th>
                    <th>Action</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fav in Model)
                {
                <tr>
                    <td>@fav.NameFrom</td>
                    <td>@fav.NameTo</td>
                    <td>
                        <button style="background-color:#33454e;border-color:black" class="btn btn-danger">Go to</button>
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { Id = fav.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
